@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.cdnfonts.com/css/angel-club');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@react-aria/example-theme";

body {
   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Helvetica Neue', sans-serif ;
    background-color: #f9f9f9;
    color: #28282B;
}
::placeholder {
  font-family: 'Helvetica Neue',sans-serif;
}

::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }

.logotext {
  font-family:'Angel Club','Helvetica Neue',sans-serif ;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
